@import url('https://fonts.googleapis.com/css?family=Muli');

.mainContent {
    margin-top: 54px;
}

.divActive {
    margin-left: 16px;
    display: block;
}

.divInactive {
    display: none;
}

.react-pdf__Page__textContent {display: none;}